<div class="row container-fluid" ng-controller="academicController">
  <div class="col-3 col-md-2">
    <div class="container">
    <ul class="nav flex-column fixed-top" style="margin-top:70px">
      <li class="nav-item">
        <a class="nav-link" href=""
        ng-click="scrollTo('secundaria')">Secundaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""
        ng-click="scrollTo('preparatoria')">Preparatoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""
        ng-click="scrollTo('universidad')">Universidad</a>
      </li>
    </ul>
    </div>
  </div>
  <div class="col-9 col-md-10 container-fluid">

    <section id="secundaria" class="mb-3">
      <div class="container w-85">
        <div class="card">
          <div class="row">
            <div class="col-md-6 ">
              <div class="card-block p-4">
                <h4 class="card-title">Curabitur gravida vestibulum imperdiet.</h4>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-img-bottom p-4">
                <img class="rounded img-fluid" src="images/eti.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="preparatoria" class="mb-3">
      <div class="container w-85">
        <div class="card">
          <div class="row">
            <div class="col-md-6 ">
              <div class="card-block p-4">
                <h4 class="card-title">Curabitur gravida vestibulum imperdiet.</h4>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-img-bottom p-4">
                <img class="rounded img-fluid" src="images/DGETI_logo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="universidad">
      <div class="container w-85">
        <div class="card">
          <div class="row">
            <div class="col-md-6 ">
              <div class="card-block p-4">
                <h4 class="card-title">Curabitur gravida vestibulum imperdiet.</h4>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
                <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-img-bottom p-4">
                <img class="rounded img-fluid" src="images/Itmorelia.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
