<div class="content">
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">!Todos mis hobbies!</h1>
            <p class="lead text-muted">
                Las principales actividades que me gusta realizar están en la siguiente galeria.
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/guitarra.jpg" alt="Guitarra">
                        <div class="card-body">
                            <h4 class="card-title">Tocar guitarra</h4>
                            <p class="card-text">A mi me han llamado los instrumentos desde que era niño, por eso, desde que tengo recuerdos comenzaba
                                a mover los dedos y las manos como si tuviera una guitarra de verdad.</p>

                            <p class="card-text">Al momento de tener mi propia guitarra no dejé de prácticar, esto me ayudó para que 
                                al momento de ingresar a un curso de guitarra de la preparatoria se me solicitara participar en 
                                la rondalla, una vez dentro de la rondalla pude presentarme en el Teatro Emperador Caltzontzin en 
                                la ciudad de Pátzcuaro.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/overwatch.jpg" alt="Overwarch">
                        <div class="card-body">
                            <h4 class="card-title">Overwatch</h4>
                            <p class="card-text">En una época de crisis global, un grupo de héroes formó un escuadrón internacional en aras de
                                devolver la paz a un mundo devastado por la guerra. Este grupo se autodenominó OVERWATCH.
                                Overwatch puso fin a la crisis y mantuvo la paz durante las décadas posteriores, dando pie
                                a toda una era de exploración, innovación y descubrimiento. Ahora, con el mundo sumiéndose
                                en el caos una vez más, héroes de antaño y de ahora acuden a la llamada.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/assassins-creed.jpg" alt="Assassins Creed">
                        <div class="card-body">
                            <h4 class="card-title">Assassin's Creed</h4>
                            <p class="card-text">Assassin's Creed es una serie de videojuegos, historietas, libros, y cortos de ficción histórica.
                                Los videojuegos son de acción-aventura, sigilo y de mundo abierto. Se diferencian en videojuegos
                                principales y spin-offs. Han sido publicados para plataformas como PlayStation 3, PlayStation
                                4, Xbox 360, Xbox One, Microsoft Windows, Mac OS X, Nintendo DS, Wii U, PlayStation Portable,
                                PlayStation Vita, iOS, webOS HP, Android, Nokia Symbian y Windows Phone.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/books.jpg" alt="Libros">
                        <div class="card-body">
                            <h4 class="card-title">Leer</h4>
                            <p class="card-text">Me gusta leer, aunque no tengo muchos libros como quisiera, pero cuando tengo la oportunidad
                                de leer un nuevo libro no lo dejo hasta que lo termino (claro siempre y cuando no sea una
                                enciclopedia aburrida).</p>
                            <p class="card-text">Entre los libros que he leido se encuentran: Hunger Games, Demian, Siddhartha, el Zarco, Cabello
                                de Elote, Harry Potter y Como agua para chocolate.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/netflix.png" alt="Netflix">
                        <div class="card-body">
                            <h4 class="card-title">Netflix, series y películas</h4>
                            <p class="card-text">Me encanta ver peliculas y series que traten de acción y resolver misterios (no, Scooby-Doo no
                                entra aqui), aunque Netflix tiene un gran catálogo no todo se encuentra ahí, razón por la
                                que prefiero rentar peliculas en plataformas como Cinepolis Kick o en ocaciones visitando
                                paginas de terceros, aunque esto ultimo trato de evitarlo al máximo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/code.jpg" alt="Codigo">
                        <div class="card-body">
                            <h4 class="card-title">Programar</h4>
                            <p class="card-text">No importa si es de día o de noche, programar es una de las cosas que me más me gustan, no solo
                                como tareas o trabajo, realmente cuando tengo oportunidad realizo trabajos pequeños como
                                voluntario a una organización llamada FICM Presenta, que si bien la página no es la mejor
                                que he hecho realmente es una pagina que planeo siga creciendo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">!Lo que más me gusta!</h1>
            <p class="lead text-muted">
                Todo lo que más me gusta está listado a continuación. !Ojo que la lista puede crecer¡
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/batman.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Batman</h4>
                            <p class="card-text">Uno de mis personajes favoritos de DC Comics es Batman, esto debido a que
                                a pesar de ser millonario tiene demaciado cariño por Gotham City, lo que lo llevó
                                en conjunto con algunos traumas de la historia a ser un superheroe sin superpoderes, por lo que
                                tiene que resolver todos sus problemas y derrotar a sus enemigos usando su intelecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/starwars.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Star Wars</h4>
                            <p class="card-text">Star Wars es una saga de peliculas de la cual estoy fascinado por
                                sus personajes y su historia, uno de mis personajes favoritos de esta saga es el personaje
                                de Darth Vader, el cual a pesar de que todos creyeron que era el elegido fue consumido por el 
                                lado oscuro hasta ser uno de los Sith más poderosos, algo que me encanta de Star Wars es que sus 
                                historias no se quedan solo en las peliculas sino que además continúan con series de televisión donde
                                muchas preguntas de la pelicula son resueltas y muchas otras surgen. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="images/ironman.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Iron Man</h4>
                            <p class="card-text">Iron man es uno de mis superheroes favoritos de Marvel, casi por las razones de 
                                Batman, la diferencia es que Iron Man es alguien que crea lo que tiene en la mente y aunque
                                no se preocupa como batman lo hace de su ciudad, el se preocupa por poder defender al mundo
                                de diferentes amenza, razón por la que fundó a los Vengadores, una liga conformada por: 
                                El Capitán America, Thor, Hulk, Black Widow, Hawkeye y Iron Man.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>