<div class="container">
    <div class="row">
        <div class="jumbotron col-12">
            <div class="row img-profile">
                <div class="col-12 col-md-6">
                    <img class="rounded img-fluid" src="images/perfil.jpg" alt="Card image">
                </div>
                <div class="col-12 col-md-6">
                    <h4>Ignacio Alexander Barriga Rios</h4>
                    <p>Soy estudiante de la carrera de Ingeniería en Sistemas Computacionales con especialidad en Ingeniería de Software en el Instituto Tecnológico de Morelia.</p>
                    <p>Actualmente realizo mis residencias profesionales en <b>Scio Consulting</b> donde me encuentro muy cómodo, realmente espero seguir siendo parte de Scio una vez finalizado el trainig de 3 meses en el que me encuentro.</p>
                    <div class="row info-btn align-middle">
                        <a href="#" class="btn btn-primary col-12">Formación académica</a>
                        <span class="col"></span>
                        <a href="#" class="btn btn-primary col-12">Visitar Scio Consulting</a>
                    </div>
                    <div class="row align-middle social">
                        <a href="https://www.facebook.com/ignacioalexander.barrigarios">
                            <img class="img-fluid" src="images/facebook.png">
                        </a>
                        <a href="https://twitter.com/AlexBa_95">
                            <img class="img-fluid" src="images/twitter.png">
                        </a>
                        <a href="https://www.linkedin.com/in/ignacio-alexander-barriga-rios">
                            <img class="img-fluid" src="images/linkedin.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
